body {
  background-image: url('/src/assets/backgrounds/fondo-patsy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}
